<div>

  <div class="container">

    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">Dodaj</button>
    </div>

  </div>

  <div class="container">

    <div>
      <h3>Lista zadań:</h3>
      <ul>
        <li *ngFor='let task of tasksList'>
          {{task}}
          <button (click)="remove(task)">Usuń</button>
          <button (click)="done(task)">Zrobsione</button>
        </li>
      </ul>
    </div>

    <div>
      <h3>Zadania wykonane</h3>
      <ul>
        <li *ngFor='let doneTask of doneTasksList'>
          {{doneTask}}
        </li>
      </ul>
    </div>

  </div>
</div>
